<%= form_for([@library, @category], :html => {:class => 'in-form'}) do |f| %>
	<div class="in-row">
		<%= f.text_field :name, class: "in-field", id: "cat-title" %>
		<label class="in-label" for="cat-title">
	      <span class="in-label-content" data-content="Title">Title</span>
	    </label>
	</div>
	<%= f.submit "Submit", class: "btn btn-primary in-submit" %>
<% end %>