<div>
	<a class="track-back" href="/">Back</a>
</div>
<div class="col-xs-12 col-lg-8 col-lg-offset-1">
	<div class="track-container">
		<h1>How to Build your Product from Scratch</h1>
		<h3>An introduction to Product Design</h3>
		<div class="track-description">
			<h2>What you will learn</h2>
			<p class="p-learning-goals">There is nothing more powerful than an idea whose time has come. This course is designed to help you materialize your game-changing idea and transform it into a product that you can build a business around. Product Design blends theory and practice to teach you product validation, UI/UX practices, Google’s Design Sprint and the process for setting and tracking actionable metrics.</p>
			<p class="p-learning-goals">Over the years, Silicon Valley startups have developed a series of frameworks and best practices for product design. Through startup case studies and interviews with industry experts, we want to bring you the best of Silicon Valley with lessons you can apply to influence the design of your mobile or web app.</p>
			<p class="p-learning-goals">By the end of the course, you will know how to perform a Google Design Sprint (developed at Google Ventures and exclusively taught in this course) to design, prototype and test your ideas. You will also learn to design low fidelity mockups for your product and capture appropriate metrics.</p>
			
			<h2>Toolbox</h2>
			<p class="p-learning-goals">You will need certain tools in order to bring your idea to life. Your fellow learners have curated the best free tools for you to use. The learning materials will refer to these tools, and this is the place where you can find them here when you need them. Here's the ones you should use:</p>
			<ul>
				<li>
					<p class="li-header">Mailchimp</p>
					<p class="li-content">Lorem ipsum dolor sit amet asbdva aksdbv kabkj bvkabd vkbad vbads kvbad kvas.</p>
				</li>
				<li>
					<p class="li-header">Stackoverflow</p>
					<p class="li-content">Lorem ipsum dolor sit amet asbdva aksdbv kabkj bvkabd vkbad vbads kvbad kvas.</p>
				</li>
				<li>
					<p class="li-header">Balsamiq</p>
					<p class="li-content">Lorem ipsum dolor sit amet asbdva aksdbv kabkj bvkabd vkbad vbads kvbad kvas.</p>
				</li>
			</ul>

			<h2>Learning Goals</h2>
			<ul>
				<p class="learning-goals"><i class="fa fa-check-square"></i><span>Learn how to validate the need for your product on a real market</span></p>
				<p class="learning-goals"><i class="fa fa-check-square"></i><span>Know how to chug a beer in 0.97 seconds.</span></p>
				<p class="learning-goals"><i class="fa fa-check-square"></i><span>Know how to chug a beer in 0.97 seconds.</span></p>
				<p class="learning-goals"><i class="fa fa-check-square"></i><span>Subscribe to our suggested Twitter accounts, podcasts, newsletters, and blogs to stay up to date on this topic.</span></p>
			</ul>
		</div>
	</div>
	<div class="hero-cta track">
		<a href="https://maarten26.typeform.com/to/l7VOmE" class="hero-cta-btn">Get started</a>
	</div>
</div>