/* Variables */

$color-main: #43AC6A;
$color-main-dark: #358753;
$color-main-light: #fff;

$color-accent: #008CBA;
$color-accent-dark: #006687;
$color-accent-light: #00C0FF;

$color-dark: #333;
$color-dark-2: #272727;

$color-fade: #6E6E6E;
$color-fade-light: #ddd;

// Media queries
$tablet-width: 768px;
$laptop-width: 992px;
$desktop-width: 1200px;