/* Variables */

// Colors

//hype
$color-hype: #0A83E2;
$color-hype-light: #4A9FE1;

//main
$color-main: #5cb85c;
$color-main-dark: #449d44;
$color-main-dark-extra: #1E5F37;
$color-main-light: #58E58C;
//accent
$color-accent: #008CBA;
$color-accent-dark: #006687;
$color-accent-light: #00C0FF;
$color-accent-lighter: #96E5FF;
$color-accent-lightest: #BEEFFF;
//dark
$color-dark: #333;
$color-dark-2: #272727;
//light
$color-light: #FAFAFA;
$color-light-2: #CCC;
$color-light-3: #EBEBEB;
$color-light-dark: #A5A5A5;
//gray
$color-fade-dark: #959595;
$color-fade: #6E6E6E;
$color-fade-light: #ddd;
$color-fade-medium: #d0d1d0;
//red
$color-red: #d9534f;
$color-red-dark: #B90A0A;
$color-red-light: #E68282;
//secondary
$color-secondary: #384651;
$color-secondary-light: #47586A;

// Text colors

//light
$color-text-light: #47525D;
$color-text-light-alt: #aaa;
$color-text-medium: #8B8C8B;
$color-text-medium-alt: #464646;
$color-text-dark: #222;

$color-text-red-dark: $color-red-dark;
$color-text-red-light: $color-red-light;

//fade
$color-text-fade: #e6e6e6;

// Media queries
$tablet-width: 768px;
$laptop-width: 992px;
$desktop-width: 1200px;