/* Global styles */
html { height: 100%; }
body {
	height: 100%;
	padding-top: 80px;
}
.wrapper {
	min-height: 100%;
	position:relative;
}
*::selection {
	background-color: $color-main;
	color: #fff;
}

// Fonts
@include font-face(Montserrat, Montserrat-Regular, 400, normal, otf);
@include font-face(Montserrat, Montserrat-Light, 300, normal, otf);
@include font-face(Montserrat, Montserrat-Bold, 700, normal, otf);
* {
	font-family: 'Montserrat', 'Helvetica', sans-serif;
}

h1, h2, h3 {
	font-weight: 300;
}

// Anchor reset
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
	}
}

// Button transitions
.btn {
	@include transition(all 0.3s ease);
}

// Icons
.icon-small {
	color: $color-accent;
	margin-left: 8px;
	@include transition(all 0.3s ease);
	&:hover {
		color: $color-accent-light;
	}
}

// Tooltips
.tooltip {
	.tooltip-arrow {
	}
	.tooltip-inner {
	}
}
.main-content {
	margin-bottom: 140px;
}
.aside-content {
	@include tablet {
		position: fixed;
		height: 100%;
	    overflow: hidden;
	}
	#menu-aside {
	    height: 76%;
	    overflow: auto;
	    padding-right: 15px;
	}
}

// Nav items transitions
nav li a {
	@include transition(all 0.3s ease);
}

// Header
$height: 45px;
.header {
	background-color: #fff;
	border-bottom: 1px solid #d0d4d9;
    box-shadow: 0px 1px 1px #d0d4d9;
    height: 45px;
}
.main-logo {
	$size: 26px;
	height: $size;
	line-height: $size;
	margin: 0;
	display: inline-block;
	vertical-align: text-top;
	a {
		height: $size;
		line-height: $size;
		display: inline-block;
		padding: 3px;
	}
	// Logo Icon
	.logo-glyph {
		display: inline-block;
		width: $size + 6;
		height: $size + 6;
		background: url('logo.png') no-repeat center center;
		background-size: 100%;
		vertical-align: middle;
	}
	// Logo name
	.logo-type {
		display: inline-block;
		color: $color-main;
		font-weight: 900;
		font-size: 26px;
		letter-spacing: -1px;
		vertical-align: middle;
		margin-left: -6px;
	}
}
.directory-btn-wrapper {
	text-align: center;
}
.directory-btn {
	float: none !important;
	position: relative !important;
	display: inline-block !important;
}
.jumbotron-image-wrapper {
	position: relative;
}
// Back button
.back-btn {
	display: inline-block;
}

// Account

.account-cancel-hint {
	display: block;
	margin-top: 48px;
	font-size: 13px;
	font-weight: 300;
	color: $color-text-medium;
}
.account-cancel-btn {
	margin: 12px 0 !important;
	max-width: 120px !important; 
	font-size: 13px;
	font-weight: 300 !important;
	padding: 6px 12px !important;
}

// Panels

//header
.panel-heading {
	.panel-title {
		font-size: 17px;
		color: $color-accent;
		@include transition(color 0.3s ease);
		&:hover {
			color: $color-accent-light;
		}
	}
	> a {
		line-height: 35px;
	}
}
//body
.panel-body {
	color: $color-text-medium-alt;
	font-weight: 300;
	font-size: 14px;
}

// Login
.login-btn {
	position: relative;
	display: inline-block;
	font-size: 17px;
	color: $color-main;
	padding: 4px 8px 0;
	&:hover {
		color: $color-main;
	}
	&:focus {
		color: $color-main;
	}
	&:after {
		content: "";
		position: absolute;
	    width: 100%;
	    height: 2px;
		bottom: -3px;
		left: 0;
		background-color: $color-main;
		visibility: hidden;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		@include transition(all 0.3s ease);
	}
	&:hover:after {
		visibility: visible;
		-webkit-transform: scaleX(1);
			transform: scaleX(1);
	}
	&.small {
		font-size: 14px;
		padding: 3px 6px;
		&:hover:after {
			display: none;
		}
	}
	&.nav-btn {
		display: inline-block;
		border: none;
	}
}

// Signup
.signup-btn {
	display: inline-block;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 16px 38px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 20px;
    overflow: hidden;
    &.clicked {
    	background-color: $color-main;
    	border-bottom-left-radius: 0;
    	border-bottom-right-radius: 0;
    }
    &.small {
    	font-size: 14px;
    	padding: 8px 18px;
    }
    &.nav-btn {
    	display: inline-block;
    	color: #fff !important;
    	padding: 8px 15px !important;
    	&:hover {
    		color: #fff !important;
    		background-color: $color-main-dark !important;
    	}
    	&:focus {
    		color: #fff !important;
    		background-color: $color-main-dark !important;
    	}
    }
}

// Popups
.overlay {
	position:fixed;
    display:none; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
}
.popup {
	position: fixed;
	top: 74px;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 340px;
	background-color: #fff;
	padding: 24px 32px;
	border: 3px solid $color-main;
	border-radius: 20px;
	text-align: center;
}
.close-popup {
	float: right;
	color: $color-main;
	font-size: 19px;
	cursor: pointer;
	@include transition(color 0.3s ease);
	&:hover {
		color: $color-main-light;
	}
}

// Advert
.adv-wrapper {
	text-align: center;
	.adv {
		.adv-content {
			cursor: default;
			font-weight: 300;
			font-size: 14px;
			margin: 12px 0;
			color: $color-text-medium-alt;
		}
		.adv-join {
			cursor: default;
			font-weight: normal;
			font-size: 14px;
			color: $color-text-dark;
			margin-bottom: 12px;
		}
		.adv-cta {
			> span {
				font-size: 11px;
				color: $color-text-light-alt;
				vertical-align: middle;
			}
			> a {
				display: inline-block;
				vertical-align: middle;
			}
			> div {
				margin-bottom: 2px;
			}
		}
	}
}

// Inputs
.in-row {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 24px 0 12px;
	max-width: 350px;
	width: 100%;
	vertical-align: top;
	&.small {
		margin: 8px 0 2px;
	}
	&.large {
		margin-top: 48px;
	}
	.in-field {
		position: relative;
		display: block;
		float: right;
		padding: 12px;
		border-radius: 3px;
		color: $color-text-dark;
		-webkit-appearance: none;

		width: 100%;
		background-color: $color-fade-medium;
		border: 1px solid transparent;
		-webkit-transition: background-color 0.25s, border-color 0.25s;
		transition: background-color 0.25s, border-color 0.25s;
		&:focus {
			outline: none;
		}
	}
	.in-label {
		display: inline-block;
		float: right;
		color: $color-text-light;
		font-weight: bold;
		font-size: 14px;
		-webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		width: 100%;
		text-align: left;
		position: absolute;
		bottom: 100%;
		pointer-events: none;
		overflow: hidden;
		padding: 0 12px;
		margin: 0;
		-webkit-transform: translate3d(0, 35px, 0);
		transform: translate3d(0, 35px, 0);
		-webkit-transition: -webkit-transform 0.25s;
		transition: transform 0.25s ;
		-webkit-transition-timing-function: ease-in-out;
		transition-timing-function: ease-in-out;
		.in-label-content {
			position: relative;
			display: block;
			width: 100%;

			color: $color-text-medium;
			padding: 2px 0;
			-webkit-transition: -webkit-transform 0.25s;
			transition: transform 0.25s;
			-webkit-transition-timing-function: ease-in-out;
			transition-timing-function: ease-in-out;
			&::after {
				content: attr(data-content);
				position: absolute;
				font-weight: 900;
				bottom: 100%;
				left: 0;
				height: 100%;
				width: 100%;
				color: $color-accent;
				padding: 2px 0;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 13px;
			}
		}
	}
}
.in-field:focus + .in-label,
.in-filled .in-label {
	-webkit-transform: translate3d(0, 4px, 0);
	transform: translate3d(0, 4px, 0);
}
.in-field:focus + .in-label .in-label-content,
.in-filled .in-label .in-label-content {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.in-field:focus,
.in-filled .in-field {
	background-color: transparent;
	border-color: $color-accent;
}

.in-submit {
	display: block;
	max-width: 350px;
	width: 100%;
	padding: 12px;
	margin: 24px auto 8px;
	font-weight: bold;
	&.success {
		background-color: $color-main;
		outline: none;
		border-color: $color-main;
	}
}

.in-form {
	padding: 12px 0;
	.in-row {
		display: block;
		max-width: 420px;
		@extend %clearfix;
		margin-left: auto;
		margin-right: auto;
		@include tablet {
			margin-left: 0;
			margin-right: 0;
		}
	}
	.in-submit {
		max-width: 420px;
		@include tablet {
			display: inline-block;
		}
	}
}
.in-error {
	color: $color-red;
	font-size: 13px;
	> span {
		display: block;
		//text-transform: capitalize;
	}
}
.in-hint {
	font-size: 12px;
	font-weight: 300;
	color: $color-text-light;
	padding-bottom: 12px;
}
.in-action {
	display: block;
	font-size: 13px;
}
.in-form-title {
	display: inline-block;
	text-align: center;
	@include tablet {
		text-align: left;
	}
}
.in-form-description {
	display: inline-block;
}
// iphone zoom
input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

// Checkboxes

$size: 19px;
$font: 13px;
$offset: 2px;

input[type=checkbox]:not(old),
input[type=radio]:not(old){
	width: $size;
	height: $size;
	margin: 0;
	padding: 0;
	opacity: 0;
	vertical-align: middle;
}
//position label
input[type=checkbox]:not(old) + label,
input[type=radio]:not(old) + label{
	display: inline-block;
	line-height: $size;
	font-size: $font;
	text-transform: capitalize;
	vertical-align: middle;
}
//unchecked graphics
input[type=checkbox]:not(old) + label > span,
input[type=radio]:not(old) + label > span{
  display: inline-block;
  width: $size;
  height: $size;
  margin-left: -$size - 3;
  margin-right: 6px;
  border: $offset solid transparent;
  border-radius: 1px;
  background: $color-fade-light;
  vertical-align: bottom;
}
input[type=checkbox]:not(old):checked + label > span:before{
	content: '✓';
	display: block;
	width: $size;
	color: $color-accent;
	font-size: $size;
	line-height: $size - ($offset * 2);
	text-align: left;
	font-weight: bold;
}
input[type=checkbox]:not(old):checked + label > span {
	border-color: $color-accent;
}

// Suggestion
.tip {
	position: relative;
	$bg: $color-light-3;
	padding: 8px;
	margin-top: 11px;
	background-color: $bg;
	box-shadow: 0px 1px 1px $color-light-dark;
	cursor: default;
	width: 100%;
	@include tablet {
		position: absolute;
		right: 0;
		z-index: 2;
		max-width: 240px;
		border-radius: 3px;
		width: 200%;
	}
	.tip-content { font-size: 12px; }
	> span:first-child { padding-right: 6px; padding-bottom: 6px; }
	.tip-done {
		width: 100%;
		border-radius: 2px;
		background-color: $color-accent;
		cursor: pointer;
		text-align: center;
		margin-top: 6px;
		padding: 4px 0;
		@include transition(background 0.3s ease);
		> span {
			color: $color-light;
		}
		&:hover {
			background-color: $color-accent-dark;
		}
	}
	&::before {
		position: absolute;
		left: 24px;
		top: -8px;
		content: '';
		width: 0; 
		height: 0;
		border-bottom: 8px solid $bg;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		z-index: 3;
		@include tablet {
			left: auto;
			right: 12px;
		}
	}
}
