/* Footer */
$footer-height: 58px;

.footer-wrapper {
	position: absolute;
	height: $footer-height;
	bottom: 0;
	.footer {
		position: relative;
		padding: 12px;
		background-color: $color-secondary;
		color: #fff;
	}
	.footer-panel {
		position: absolute;
		bottom: calc(100%);
		left: 0;
		right: 0;
		width: 100%;
		background-color: $color-secondary-light;
		text-align: center;
		.footer-panel-inner {
			padding: 14px;
		}
		.share-buttons {
			list-style: none;
			padding: 0;
			margin: 0;
			> li {
				display: inline-block;
				a {
					color: #fff;
					padding: 0 4px;
					@include transition(color 0.3s ease);
					&:hover {
						color: $color-main-light;
					}
				}
			}
		}
		.close-popup {
			color: #fff;
			position: absolute;
			top: 14px;
			right: 14px;
			&:hover {
				color: $color-main-light;
			}
		}
	}
	.footer-links {
		ul {
			padding: 0;
			margin: 0;
			text-align: center;
			list-style: none;
			li {
				display: inline-block;
				padding: 0 12px;
				a {
					color: #fff;
					font-size: 12px;
					font-weight: bold;
					@include transition(color 0.3s ease);
					&:hover {
						color: $color-main-light;
					}
				}
			}
		}
		.footer-company {
			margin: 0;
			text-align: center;
			color: $color-text-light-alt;
			font-size: 10px;
		}
	}
}

// Feedback
#feedback_form {
	.in-row {
		margin: 24px auto 12px;
		&.small {
			margin-top: 0;
		}
	}
	.in-field {
		font-size: 13px;
		padding: 6px;
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0);
	}
	.in-label {
		font-size: 12px;
		.in-label-content {
			padding: 0;
			&::after {
				padding: 0;
				color: $color-accent-light;
				font-size: 12px;
			}
		}
	}
	.in-submit {
		padding: 8px;
		margin: 16px auto 4px;
		font-size: 13px;
	}
	.in-error > span {
		display: block;
		margin: 0 auto;
		padding-top: 8px;
		font-size: 12px;
		max-width: 420px;
	}
	.in-field:focus,
	.in-filled .in-field {
		background-color: #fff;
		border-color: $color-accent-light;
	}
	.in-field:focus + .in-label,
	.in-filled .in-label {
		-webkit-transform: translate3d(0, 8px, 0);
		transform: translate3d(0, 8px, 0);
	}

}