/* Footer */

.footer-wrapper {
	position: absolute;
	height: 71px;
	bottom: 0;
	.footer {
		position: relative;
		padding: 14px;
		background-color: $color-secondary;
		color: #fff;
	}
	.footer-panel {
		position: absolute;
		bottom: 71px;
		left: 0;
		right: 0;
		width: 100%;
		background-color: $color-secondary-light;
		text-align: center;
		.footer-panel-inner {
			padding: 14px;
		}
		.share-buttons {
			list-style: none;
			padding: 0;
			margin: 0;
			> li {
				display: inline-block;
				a {
					color: #fff;
					padding: 0 4px;
					@include transition(color 0.3s ease);
					&:hover {
						color: $color-main-light;
					}
				}
			}
		}
		.close-popup {
			color: #fff;
			position: absolute;
			top: 14px;
			right: 14px;
			&:hover {
				color: $color-main-light;
			}
		}
	}
	.footer-links {
		ul {
			padding: 0;
			margin-bottom: 6px;
			text-align: center;
			list-style: none;
			li {
				display: inline-block;
				padding-left: 24px;
				a {
					color: #fff;
					font-size: 13px;
					font-weight: bold;
					@include transition(color 0.3s ease);
					&:hover {
						color: $color-main-light;
					}
				}
			}
		}
		.footer-company {
			margin: 0;
			text-align: center;
			color: $color-text-light-alt;
			font-weight: bold;
			font-size: 12px;
		}
	}
}