/* Header */

// Links
.navbar-nav {
	li {
		a {
			color: $color-main !important;
			&:hover {
				background-color: transparent !important;
				color: $color-main-light !important;
			}
			&:focus {
				background-color: #fff !important;
			}
			font-size: 16px;
		}
	}
}

.suggest-link {

}
.suggested-link {

}
.edit-link {
	
}
.read-link {

}

// Username and dropdown
.user-btn {
	position: relative;
	&:hover {
		.user-dropdown {
			display: block;
		}
	}
	.user-dropdown {
		display: none;
		position: absolute;
		right: 0;
		@extend %clearfix;
		a {
			display: block;
			@include transition(all 0.3s ease);
			padding: 12px 15px;
			font-size: 13px;
   			font-weight: 300;
   			line-height: 21px;
   			color: $color-text-dark;
   			border: 1px solid $color-fade-light;
   			border-top: none;
		}
		.user-logout {
			
		}
	}
}

#search-form {
	.search-field {
		display: inline-block;
		border: none;
		outline: none;
		background-color: $color-light-3;
		margin-top: 4px;
		padding: 7px;
		line-height: 22px;
		font-size: 14px;
		font-weight: 300;
		vertical-align: text-top;
		&:focus {
			outline: none;
			border: none;
		}
	}
	.search-submit {
		display: inline-block;
		border: none;
		margin-top: 4px;
		margin-left: -2px;
		padding: 7px 12px;
		line-height: 22px;
		font-size: 14px;
		vertical-align: text-top;
		&:focus {
			outline: none;
			border: none;
		}
	}	
}
