/* Header */

// Links
.navbar-nav {
	li {
		a {
			color: $color-main !important;
			&:hover {
				background-color: transparent !important;
				color: $color-main-light !important;
			}
			&:focus {
				background-color: transparent !important;
			}
			font-size: 16px;
		}
	}
}

.suggest-link {

}
.suggested-link {

}
.edit-link {
	
}
.read-link {

}

// Username and dropdown
.user-btn {
	position: relative;
	&:hover {
		.user-dropdown {
			display: block;
		}
	}
	.user-dropdown {
		display: none;
		position: absolute;
		right: 0;
		@extend %clearfix;
		a {
			display: block;
			@include transition(all 0.3s ease);
			padding: 12px 15px;
			font-size: 13px;
   			font-weight: 300;
   			line-height: 21px;
   			color: $color-text-dark;
   			border: 1px solid $color-fade-light;
   			border-top: none;
		}
		.user-logout {
			
		}
	}
}
