/* Header */

// Links
.navbar {
	min-height: 0 !important;
	margin: 0;
}
.navbar-toggle {
	margin: 6px 15px 6px 0;
	border: none;
	@include transition(background 0.3s ease);
	> span {
		background-color: $color-main !important;
		@include transition(background 0.3s ease);
	}
	&:hover {
		background-color: $color-main !important;
		> span { background-color: #fff !important; }
	}
	&:focus {
		background-color: $color-main !important;
		> span { background-color: #fff !important; }
	}
}
.navbar-header-link {
	$size: 42px;
	height: $size;
	display: inline-block;
	vertical-align: text-top;
	> span {
		color: $color-main;
		line-height: $size;
		@include tablet {
			padding-right: 6px;
		}
		&:hover {
			color: $color-main;
		}
	}
	.text {
		display: none;
		font-weight: 400;
		font-size: 13px !important;
		@include tablet {
			display: inline-block;
		}
	}
}
.navbar-nav {
	background-color: #fff;
	> li {
		padding-left: 12px;
		@include tablet { padding-left: 0; }
		> a {
			color: $color-main !important;
			font-weight: 400;
			font-size: 13px !important;
			line-height: 20px !important;
			padding: 12px 15px !important;
			&:hover {
				background-color: #fff !important;
				color: $color-main-light !important;
			}
			&:focus {
				background-color: #fff !important;
			}
			.glyphicon {
				padding-right: 6px;
			}
		}
	}
}
#signup-btn-header { margin-top: 4px; }
.navbar-collapse {
	background-color: #fff;
	border: 1px solid $color-fade;
	border-top: none;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	@include tablet {
		border: none;
	}
}

// Username and dropdown
.user-btn {
	position: relative;
	.user-toggle {
		display: inline-block;
		color: $color-main !important;
		font-weight: normal;
    	font-size: 15px;
    	line-height: 20px !important;
    	padding: 12px 15px;
    	cursor: pointer;
    	@include transition(color 0.3s ease);
    	@include tablet {
    		padding-left: 12px;
    		padding-right: 12px;
    	}
    	&:hover {
    		color: $color-main-light !important;
    	}
	}
	.user-dropdown {
		$bg: $color-light-3;
		display: block;
		
		@extend %clearfix;
		@include tablet {
			display: none;
			position: absolute;
			right: 0;
			min-width: 120px;
			z-index: 2;
			padding: 8px;
			border-radius: 3px;
			margin-top: 11px;
			background-color: $bg;
			box-shadow: 0px 1px 1px $color-light-dark;
		}
		&::before {
			@include tablet {
				position: absolute;
				right: 12px;
				top: -8px;
				content: '';
				width: 0; 
				height: 0;
				border-bottom: 8px solid $bg;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				z-index: 3;
			}
		}
		a {
			display: block;
			padding: 6px 12px;
			font-size: 13px;
   			font-weight: normal;
   			line-height: 18px;
   			color: $color-main;
   			border-top: none;
   			border-radius: 4px;
   			@include transition(all 0.3s ease);
   			&:hover {
   				color: #fff !important;
   				background-color: $color-light-dark !important;
   			}
		}
		.user-dropdown-text {
			padding-left: 6px;
		}
		.user-logout {
			
		}
	}
}

// Landing
.landing-header {
	text-align: center;
}

// Search input
#search-form {
	.search-input {
		position: relative;
		display: inline-block;
		overflow: hidden;
		vertical-align: text-top;
	}
	.search-field {
		position: relative;
		border-radius: 0;
		display: inline-block;
		border: none;
		outline: none;
		margin-top: 4px;
		padding: 7px;
		line-height: 22px;
		font-size: 16px;
		font-weight: 300;
		background: transparent;
		color: $color-text-dark;
		&:focus {
			outline: none;
			border: none;
		}
	}
	.search-label {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: left;
		pointer-events: none;
	}
	.search-label::before,
	.search-label::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		border-bottom: 1px solid $color-main;
	}
	.search-label::after {
		margin-top: -1px;
		border-bottom: 3px solid $color-main;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		-webkit-transition: -webkit-transform 0.3s;
		transition: transform 0.3s;
	}
	.search-field:focus + .search-label::after,
	.search-input.in-filled .search-label::after {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.search-submit {
		display: inline-block;
		border: none;
		margin-top: 4px;
		margin-left: -2px;
		padding: 7px 12px;
		line-height: 22px;
		font-size: 14px;
		vertical-align: text-top;
		background-color: transparent;
		> span {
			color: $color-main;
			@include transition(color 0.3s ease);
		}
		&:hover > span {
			color: $color-main-light;
		}
		&:focus {
			outline: none;
			border: none;
		}
	}	
}
