/* Landing page, Login, Sign up */

// Jumbotron
.linkr-jumbotron {
	padding: 16px 0;
	@include tablet {
		padding: 32px 0;
	}
	$height: 280px;
	.jumbotron-text {
		text-align: center;
		margin: 0;
		padding: 0 16px 24px;
		cursor: default;
		font-size: 36px;
		line-height: 52px;
		font-weight: 300;
		color: $color-text-light;
		@include tablet {
			padding: 56px 16px 0;
			font-size: 42px;
			text-align: left;
		}
		@include laptop {
			padding: 64px 16px 0;
			font-size: 50px;
		}
	}
	.jumbotron-image {
		width: 100%;
		height: $height;
		background: url('jumbotron.jpg') no-repeat center center;
		background-size: auto 100%;
	}
}

// Signup
.linkr-account {
	padding: 24px 0;
	text-align: center;
}

// Login
.login-block {
	.login-text {
		display: block;
		padding-top: 16px;
		font-size: 14px;
		cursor: default;
	}
	.forgot-psw {
		font-size: 13px;
	}
}

.landing-panel {
	display: inline-block;
	padding: 32px;
	border: 3px solid $color-main;
	border-radius: 20px;
}

.in-remember {
	margin: 4px 0;
}

// Descriptions
.linkr-description {
	padding: 0 54px;
	.image {
		display: inline-block;
		width: 24px;
		height: 24px;
		margin-right: 12px;
		vertical-align: middle;
		&.desc-img-1 { background: url('desc-1.png') no-repeat center center }
		&.desc-img-2 { background: url('desc-2.png') no-repeat center center }
		&.desc-img-3 { background: url('desc-3.png') no-repeat center center }
	}
	h3 {
		display: inline-block;
		vertical-align: middle;
		line-height: 24px;
		margin: 16px 0;
		cursor: default;
	}
	p {
		text-align: justify;
		cursor: default;
	}
}
.linkr-description-wrapper { margin-top: 24px; }

// Header
.landing-header {
	height: 76px;
	background-color: #fff;
	border-bottom: 1px solid #d0d4d9;
    box-shadow: 0px 1px 1px #d0d4d9;
}
.linkr-logo {
	$height: 48px;
	margin: 14px 0;
	height: $height;
	text-align: center;
	// Logo Icon
	.logo-glyph {
		display: inline-block;
		width: 48px;
		height: $height;
		margin-right: 2px;
		vertical-align: middle;
		background: url('logo.png') no-repeat center center;
	}
	// Logo name
	.logo-type {
		font-family: 'Raleway', sans-serif;
		height: $height;
		line-height: $height;
		display: inline-block;
		color: $color-main;
		vertical-align: middle;
		font-weight: 900;
		font-size: 32px;
		letter-spacing: -2px;
		cursor: default;
	}
}