/* Libraries */

.find-btn, .new-btn {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 16px 40px;
    text-decoration: none;
    text-transform: uppercase;
}
.new-btn {
	font-weight: 400;
}
.find-btn {
	margin-right: 4px;
}

.library-header {
	margin-bottom: 12px;
}

.open-btn {
	font-size: 14px;
	padding: 6px 10px;
}

