/* Libraries */

.find-btn, .new-btn {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 1.3px;
    padding: 14px 36px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    @include tablet {
    	position: absolute;
    }
}
.find-btn {
	float: right;
	@include tablet {
		right: 0;
		top: 0;	
	}
}
.new-btn {
	@include tablet {
		left: 0;
		top: 0;
	}
}

.library-header {
	position: relative;
	margin-bottom: 21px;
	.libraries-text {
		text-align: center;
	}
}
.library-title {
	font-weight: normal;
	font-size: 19px;
	@include transition(color 0.3s ease);
	&:hover {
		color: $color-accent-light;
	}
}
.library-tabs {
	text-align: center;
	li {
		display: inline-block;
		float: none;
		a {
			font-family: 'Raleway', sans-serif;
			font-weight: 300;
		    font-size: 15px;
		    letter-spacing: 1.2px;
		    padding: 14px 32px;
		    text-decoration: none;
		    text-transform: uppercase;
		    @include transition(all 0.3s ease);
		    > i {
		    	line-height: 0;
		    	font-size: 16px;
		    	margin-left: 12px;
		    	vertical-align: -2px;
		    }
		}
		&.active {
			a {
			}
		}
	}
}
.library-tab-content {
	padding: 16px;
	border: 1px solid $color-fade-light;
	border-top: none;
}
.tab-pane > div:last-child {
	margin-bottom: 0 !important;
}

.open-btn {
	font-size: 14px;
	padding: 6px 10px;
}

