/* Libraries */

.browse-btn, .new-btn {
	display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 1.3px;
    padding: 14px 36px 14px 56px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    overflow: hidden;
    @include tablet {
    	position: absolute;
    }
    > span {
    	display: inline-block;
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
		-webkit-transition: -webkit-transform 0.3s;
		transition: transform 0.3s;
		-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
    > i {
    	position: absolute;
		left: 30px;
		top: 17px;
		font-size: 17px;
		-webkit-transform: translate3d(-50px, 0, 0);
		transform: translate3d(-50px, 0, 0);
		-webkit-transition: -webkit-transform 0.3s;
		transition: transform 0.3s;
		-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
    &:hover > i, &:hover > span {
    	-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
    }
}
.browse-btn {
	float: right;
	color: #fff;
	background-color: $color-light-2;
	border: none;
	&:hover {
		color: #fff;
		background-color: $color-light-dark;
	}
	@include tablet {
		right: 0;
		top: 0;	
	}
}
.new-btn {
	@include tablet {
		left: 0;
		top: 0;
	}
}

.library-header {
	position: relative;
	margin-bottom: 21px;
	.libraries-text {
		text-align: center;
	}
}
.library-title {
	font-weight: 300;
	font-size: 21px;
	@include transition(color 0.3s ease);
	&:hover {
		color: $color-accent-light;
	}
}
.library-tabs {
	text-align: center;
	li {
		display: inline-block;
		float: none;
		a {
			font-family: 'Raleway', sans-serif;
			font-weight: 300;
		    font-size: 15px;
		    letter-spacing: 1.2px;
		    padding: 14px 32px;
		    text-decoration: none;
		    text-transform: uppercase;
		    @include transition(all 0.3s ease);
		    > i {
		    	line-height: 0;
		    	font-size: 16px;
		    	margin-left: 12px;
		    	vertical-align: -2px;
		    }
		}
		&.active {
			a {
			}
		}
	}
}
.library-tab-content {
	padding: 16px;
	border: 1px solid $color-fade-light;
	border-top: none;
}
.tab-pane > div:last-child {
	margin-bottom: 0 !important;
}

.open-btn {
	font-size: 14px;
	padding: 6px 10px;
	margin-left: 6px;
}
.follow-btn, .reject-btn {
	font-size: 13px;
	line-height: 19px;
	padding: 4px 16px;
	margin-left: 4px;
	color: #fff !important;
}

.suggested-by {
	font-size: 12px;
	padding-left: 16px;
	> span {
		font-weight: bold;
	}
}

.empty {
	padding: 24px 38px;
	margin: 56px 0;
	background-color: $color-light;
	text-align: center;
	.empty-text {
		font-size: 19px;
		font-weight: 300;
	}
	.empty-suggestion {
		font-size: 24px;
		font-weight: 300;
	}
	.empty-link {
		font-weight: bold;
		@include transition(color 0.3s ease);
		&:hover {
			color: $color-accent-light;
		}
	}
}