/* Sections */

// Side Menu
$category-line-height: 30px;
$section-line-height: 24px;

.menu-category-link , .menu-section-link {
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding-right: 0;
}
.menu-icon-wrapper {
	padding-left: 0;
}
.menu-icon {
	float: right;
	font-size: 15px;
	padding-top: 2px;
	.icon-small {
		margin-left: 4px;
	}
}
.menu-text-wrapper {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.menu-category {
	> .panel-heading {
		@include transition(all 0.3s ease);
		&:hover {
			background-color: #fff;
		}
	}
	.menu-icon-wrapper { line-height: $category-line-height; }
	.menu-category-link {
		font-size: 17px;
		font-weight: normal;
		color: #000;
		text-decoration: none;
		line-height: $category-line-height;
		&:hover {
			text-decoration: none;
		}
	}
	&:last-child {
		margin-top: 12px !important;
	}
}
.menu-section {
	@include transition(all 0.3s ease);
	&:hover {
		background-color: $color-light;
	}
	.menu-icon-wrapper { line-height: $section-line-height; }
	.menu-section-link {
		font-size: 15px;
		font-weight: 300;
		color: #000;
		text-decoration: none;
		line-height: $section-line-height;
	}
}
.menu-new-category {
	display: block;
	font-size: 15px;
	&:hover {

	}
	.icon-small:hover {
		color: $color-accent;
	}
}

// Content

// Nav
.section-title {
	margin: 0 0 12px;
}

.group-nav {
	padding: 12px 5px 0;
	margin-bottom: 6px;
	.group-nav-item {
		display: inline-block;
		font-size: 15px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: -1px;
		margin-right: 2px;
		transform: skewX(-14deg);
		@include transition(all 0.3s ease);
		a {
			display: block;
			padding: 4px 12px;
			color: $color-text-medium;
			background-color: $color-fade-light;
			@include transition(all 0.3s ease);
			&:hover {
				padding: 4px 18px;
				color: $color-text-dark;
				background-color: $color-fade-medium;
			}
		}
		span {
			display: block;
			transform: skewX(14deg);
		}
		&.group-nav-current {
			a {
				cursor: default;
				padding: 4px 24px;
				color: $color-main-dark-extra;
				background-color: $color-main-light;
			}
		}

	}
}
