/* Sections */

// Side Menu
$category-line-height: 30px;
$section-line-height: 24px;

.menu-category-link , .menu-section-link {
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding-right: 0;
}
.menu-icon-wrapper {
	padding-left: 0;
	float: right;
}
.menu-icon {
	float: right;
	font-size: 15px;
	.icon-small {
		margin-left: 4px;
	}
}
.menu-text-wrapper {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.menu-category {
	> .panel-heading {
		background-color: $color-fade-light;
		@include transition(all 0.3s ease);
		&:hover {
			background-color: $color-fade-medium;
		}
	}
	.menu-icon-wrapper { line-height: $category-line-height; }
	.menu-category-link {
		font-size: 17px;
		font-weight: normal;
		color: $color-text-dark;
		text-decoration: none;
		line-height: $category-line-height;
		&:hover {
			text-decoration: none;
		}
	}
}
.menu-section {
	@include transition(all 0.3s ease);
	&:hover {
		background-color: $color-light;
	}
	.menu-icon-wrapper { line-height: $section-line-height; }
	.menu-section-link {
		font-size: 15px;
		font-weight: 300;
		color: $color-text-dark;
		text-decoration: none;
		line-height: $section-line-height;
	}
	&.current {
		background-color: $color-accent-lightest;
		&:hover {
			background-color: $color-accent-lighter;
		}
	}
}
.menu-new-category {
	display: block;
	font-size: 15px;
	margin-top: 12px !important;
	.panel-heading {
		padding: 0;
	}
	a {
		display: block;
		padding: 10px 15px;
		line-height: 16px;
		&:hover {
			color: $color-accent-dark;
			.icon-small {
				color: $color-accent-light;
			}
			> span {
				color: $color-accent;
			}
		}
		> span {
			font-size: 14px;
			vertical-align: middle;
		}
	}
}

// Advert
.adv-wrapper {
	text-align: center;
	.adv {
		.adv-light {
			font-weight: 300;
			font-size: 14px;
			color: $color-text-medium;
		}
		.adv-content {
			font-weight: 300;
			font-size: 16px;
			color: $color-text-medium-alt;
		}
		.adv-cta {
			> span {
				font-size: 11px;
				color: $color-text-light-alt;
				vertical-align: middle;
			}
			> a {
				display: inline-block;
				vertical-align: middle;
			}
			> div {
				margin-bottom: 2px;
			}
		}
	}
}

// Library intro page
.library-intro {
	text-align: center;
	> h1 {
		font-size: 36px;
		margin-top: 12px;
	}
	.library-intro-desc {
		font-size: 23px;
	}
	.library-intro-suggestion {
		font-weight: bold;
		font-size: 13px;
		font-style: italic;
		color: $color-main;
	}
}

// Content

// Nav
.section-title {
	margin: 0 0 12px;
}

.group-nav {
	padding: 12px 5px 0;
	margin-bottom: 6px;
}
.group-nav-item {
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -1px;
	margin-right: 2px;
	vertical-align: middle;
	transform: skewX(-14deg);
	@include transition(all 0.3s ease);
	span {
		display: block;
		transform: skewX(14deg);
	}
	&.group-nav-current {
		.group-name {
			cursor: default;
			padding: 4px 24px;
			color: $color-main-dark-extra;
			background-color: $color-main-light;
		}
	}
}
.group-name {
	display: block;
	padding: 4px 12px;
	color: $color-text-medium;
	background-color: $color-fade-light;
	cursor: pointer;
	@include transition(all 0.3s ease);
	&:hover {
		padding: 4px 18px;
		color: $color-text-dark;
		background-color: $color-fade-medium;
	}
}
.group-all span { line-height: 21px; }
.group-all:not(.group-nav-current) {
	.group-name {
		&:hover {
			color: $color-accent-dark;
			background-color: $color-accent-light;
		}
		span {
			
		}
	}
}

// Entries

.entry {
	$entry-h: 42px;
	.entry-header {
		height: $entry-h;
		padding: 0 16px 0 0;
		.entry-vote {
			position: relative;
			float: left;
			width: 64px;
			height: $entry-h;
			padding: 8px 16px;
			.upvote, .downvote {
				position: absolute;
				height: 15px;
				font-size: 13px;
				@include transition(color 0.3s ease);
				&:hover {
					color: $color-accent-light;
				}
			}
			.upvote { top: 4px; }
			.downvote { bottom: 6px; }
			 .entry-points {
				float: right;
				margin-top: 3px;
				line-height: 20px;
				font-size: 14px;
				font-weight: bold;
				color: $color-accent;
				cursor: default;
			}
		}
		.entry-title {
			float: left;
			height: $entry-h;
			line-height: $entry-h;
			font-size: 21px;
			font-weight: 300;
			color: $color-accent;
			@include transition(color 0.3s ease);
			&:hover {
				color: $color-accent-light;
			}
		}
		.entry-group {
			line-height: $entry-h;
			font-size: 11px;
			font-weight: 300;
			color: $color-text-light;
			padding-left: 16px;
			text-transform: uppercase;
		}
		.entry-icon {
			float: right;
			height: $entry-h;
			line-height: $entry-h;
		}
	}
	.entry-description {
		color: $color-text-medium-alt;
		font-weight: 300;
		font-size: 14px;
		padding: 0 16px 8px;
		border-bottom: 1px solid $color-fade-light;
	}
	.tag-list {
		padding: 0 6px 6px 0;
		@extend %clearfix;
		$triangle-size: 12px;
		.tag {
			float: right;
			position: relative;
			padding: 2px 8px;
			margin-left: $triangle-size + 4px;
			font-size: 12px;
			color: #fff;
			background-color: $color-fade-medium;
			@include transition(all 0.3s ease);
			&::before {
				position: absolute;
				left: -$triangle-size;
				top: 0;
				content: '';
				width: 0; 
				height: 0; 
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				border-right: $triangle-size solid $color-fade-medium;
				@include transition(all 0.3s ease);
			}
			&::after {
				content: '.';
				position: absolute;
				left: -2px;
				top: 3px;
				color: #fff;
				font-weight: bold;
				font-size: 22px;
				line-height: 0px;
				vertical-align: middle;
			}
			&:hover {
				background-color: $color-accent-dark;
				&::before {
					border-right: $triangle-size solid $color-accent-dark;
				}
			}
		}
	}
	.entry-options {
		margin-top: 8px;
		float: right;
	}
}

.new-entry-btn {
	display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1.3px;
    padding: 8px 24px 8px 24px;
    margin: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    overflow: hidden;
}