<div class="col-xs-12 footer-wrapper">
	<div class="row footer footer-links">
		<div class="col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
			<ul>
				<li><a href="/">Create your own</a></li>
				<li><a href="#feedback">Send Feedback</a></li>
				<li><a href="#share">Share</a></li>
			</ul>
			<p class="footer-company">&copy; 2015 Linkr</p>
		</div>
	</div>
</div>