<div class="navbar navbar-fixed-top library-buttons">
	<div class="col-sm-12 col-lg-10 col-lg-offset-1">
		<ul>
			<li><div id="menu-toggle">Menu<span class="glyphicon glyphicon-menu-hamburger"></span></div></li>
		</ul>
	</div>
</div>