<div>
	<div class="adv-wrapper">
	    <div class="adv">
	    	<p class="adv-content">You need to be logged in to perform this action</p>
	      	<div class="adv-cta">
	        	<div><%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-success signup-btn small', id: "signup-btn" %></div>
	        	<span>Already have account?</span><%= link_to "Login", new_user_session_path, :class => 'btn login-btn small', id: "login-btn" %>
	      	</div>
	    </div>
  	</div>
</div>