<ul class="share-buttons">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flinkhoven.herokuapp.com%2F&t=Linkr" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
  <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Flinkhoven.herokuapp.com%2F&text=Linkr:%20http%3A%2F%2Flinkhoven.herokuapp.com%2F" target="_blank" title="Tweet"><i class="fa fa-twitter-square fa-2x"></i></a></li>
  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Flinkhoven.herokuapp.com%2F&title=Linkr&summary=&source=http%3A%2F%2Flinkhoven.herokuapp.com%2F" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
  <li><a href="mailto:?subject=Linkr&body=:%20http%3A%2F%2Flinkhoven.herokuapp.com%2F" target="_blank" title="Email"><i class="fa fa-envelope-square fa-2x"></i></a></li>
</ul>