<div class="library-intro">
	<h1>Welcome to the <%= @library.topic %> Link Collection</h1>
	<h3 class="library-intro-desc"><%= @library.description %></h3>
	<p class="user-ref">Created by <span><%= @library.creator.user_name %></span></p>
	<p class="library-intro-suggestion">Select a topic from the menu on the left to get started.</p>
</div>
