<div class="jumbotron library-intro">
	<h1><%= @library.topic %></h1>
	<h3 class="library-intro-desc"><%= @library.description %></h3>
	<p class="library-intro-suggestion">Select a category from the menu to get started.</p>
</div>
