<h2 class="section-title"><%= @section.name %></h2>
<%= link_to "New Entry", new_entry_path(lib: @library, sec: @section), class: 'btn btn-success new-entry-btn'  %>
<div class="entry-group">
  <%= render "shared/render_entries" %>
</div>

         
