<div class="hero-wrapper">
	<div id="hero-image"></div>
	<div class="hero-top">
		<nav class="navbar navbar-default landing-header">
			<div class="container-fluid">
			<div class="row">
			<div class="col-sm-12 col-lg-10 col-lg-offset-1">
				<div class="navbar-header pull-left">
				    <h1 class="landing-logo">
				    	<a href="/" class="logo-type">Coilbee</a>
					</h1>
		    	</div>
		    	<div class="navbar-header pull-right">
		    		<div class="landing-login-btn pull-left">
			    		<%= link_to "Login", new_user_session_path, :class => 'btn login-btn small', id: "login-btn" %>
			    	</div>
			    	<button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar-main-collapse" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				    </button>
		    	</div>
			    <div class="collapse navbar-collapse" id="navbar-main-collapse">
			        <ul class="nav navbar-nav navbar-left">
			        	<li><a href="/informers/new">Learn</a></li>
			        	<li><a href="/informers/new">Tracks</a></li>
			        	<li><a href="/libraries/startup">Library</a></li>
			        	<li><a href="/informers/new">About</a></li>
			        </ul>
			    </div>
			</div>
			</div>
			</div>
		</nav>
		<div class="hero-text">
			<h1>Learn from the best, <br>adjusted to your schedule.</h1>
			<h2>I want to learn how to 
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" id="heroDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<a href="">find my first users&nbsp;<span class="caret"></span></a>
					</button>
					<ul class="dropdown-menu" aria-labelledby="heroDropdown">
						<li><a href="">build my first MVP</a></li>
						<li><a href="">grow my user base</a></li>
					</ul>
				</div>
			</h2>
			<div class="hero-cta">
				<a href="/intro/show" class="hero-cta-btn">Get started!</a>
				<span class="hero-cta-subtitle">It's all for <em>free.</em></span>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-12 hiw-wrapper">
	<div class="col-xs-12 col-lg-8 col-lg-offset-2 lp-block">
		<h1>How it works</h1>
		<div class="hiw-content">
			<div class="row">
				<div class=" hiw-block">
					<div class="col-xs-12 col-lg-8 hiw-text">
						<h2>This is the first step</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.</p>
					</div>
					<div class="col-xs-12 col-lg-3 col-lg-offset-1 hiw-icon">
						<img src="hiw-icon-1.jpg">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="hiw-block">
					<div class="col-xs-12 col-lg-3 hiw-icon">
						<img src="hiw-icon-2.jpg">
					</div>
					<div class="col-xs-12 col-lg-8 col-lg-offset-1 hiw-text">
						<h2>This is the second step</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="hiw-block">
					<div class="col-xs-12 col-lg-8 hiw-text">
						<h2>This is the third step</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.</p>
					</div>
					<div class="col-xs-12 col-lg-3 col-lg-offset-1 hiw-icon">
						<img src="hiw-icon-3.jpg">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="hero-cta">
					<a href="/intro/show" class="hero-cta-btn">Get started!</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-12 track-list-wrapper">
	<div class="col-xs-12 col-lg-8 col-lg-offset-2 lp-block">
		<h1>Our <span class="text-important">amazing</span> tracks</h1>
		<div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0">
			<div class="track-card">
				<h3>Track #1</h3>
				<img src="">
				<p>Insert description text here that will explain why that specific track will change your life. You got a bright future behind you, baby.</p>
				<a href="#">Learn more</a>
			</div>
		</div>
		<div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0">
			<div class="track-card">
				<h3>Track #2</h3>
				<img src="">
				<p>Insert description text here that will explain why that specific track will change your life. You got a bright future behind you, baby.</p>
				<a href="#">Learn more</a>
			</div>
		</div>
		<div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0">
			<div class="track-card">
				<h3>Track #3</h3>
				<img src="">
				<p>Insert description text here that will explain why that specific track will change your life. You got a bright future behind you, baby.</p>
				<a href="#">Learn more</a>
			</div>
		</div>
	</div>
</div>

<div class="overlay" id="login-popup">
	<div class="popup row">
		<span class="close-popup glyphicon glyphicon-remove-sign"></span>
		<%= render 'devise/sessions/new' %>
	</div>
</div>

