<nav class="navbar navbar-fixed-top navbar-default landing-header">
	<h1 class="linkr-logo">
		<span class="logo-glyph"></span><span class="logo-type">Linkr</span>
	</h1>
</nav>
<div class="row linkr-jumbotron">
	<div class="col-sm-10 col-sm-offset-1">
		<div class="col-sm-7">
			<h2 class="jumbotron-text">Discover, create and share thematic links libraries</h2>
		</div>
		<div class="col-sm-5">
			<div class="jumbotron-image"></div>
		</div>
	</div>
</div>
<div class="row linkr-account">
	<div class="signup-block">
		<%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-success signup-btn', id: "signup-btn" %>
		<div id="signup">
			<div class="landing-panel">
				<%= render 'devise/registrations/new' %>
			</div>
		</div>
	</div>
	<div class="login-block">
		<span class="login-text">Already have an account?</span>
		<%= link_to "Login", new_user_session_path, :class => 'btn login-btn', id: "login-btn" %>
		<div id="login">
			<div class="landing-panel">
				<%= render 'devise/sessions/new' %>
			</div>
		</div>
	</div>
</div>
<div class="row linkr-description-wrapper">
	<div class="col-md-4 linkr-description">
		<div class="image desc-img-1"></div>
		<h3>Organize</h3>
		<p>Collect all your links to resources, videos, books and articles in a categorized library. Each link belongs to a category which can have several sections. In addition, each link can have a number of tags for better searching capabilites. Start creating your own personalized library or contribute to existing ones!</p>
	</div>
	<div class="col-md-4 linkr-description">
		<div class="image desc-img-2"></div>
		<h3>Learn</h3>
		<p>Quickly become informed and proficient in any subject. Following the semantic organization of links you can obtain knowledge about a specific field or easily access useful resources. The links are grouped by type allowing you to choose the method you prefer for learning: reading, watching a video or going through interactive tutorials.</p>
	</div>
	<div class="col-md-4 linkr-description">
		<div class="image desc-img-3"></div>
		<h3>Share</h3>
		<p>Collaborate with co-workers, classmates or friends by sharing libraries of interest. Assign moderators to the libraries you created so they can help you maintaining and expanding the link repository. Make your libraries public if you want to share with the world the organized knowledge you filed.</p>
	</div>
</div>

