<span>Invite user to </span><h2 class="in-form-title share-title"><%= @library.topic %></h2>
  <%= form_for([@library, @invitation], :html => {:class => 'in-form'}) do |f| %>
    <div class="in-row">
      <%= f.email_field :receiver_email, class: "in-field", id: "share-email" %>
      <label class="in-label" for="share-email">
        <span class="in-label-content" data-content="E-mail">E-mail</span>
      </label>
      <span class="in-hint">Insert a valid e-mail to share this library</span>
    </div>
    <%= f.submit "Share", class: "btn btn-primary in-submit" %>
<% end %>
