<span>Invite user to </span><h2 class="in-form-title share-title"><%= @library_to_suggest.topic %></h2>
<%= form_tag "/invitations", class: "in-form" do %>
	<div class="in-row">
		<%= email_field_tag :email, nil , class: "in-field", id: "share-email" %>
	  	<label class="in-label" for="share-email">
	    	<span class="in-label-content" data-content="E-mail">E-mail</span>
	    </label>
	    <span class="in-hint">Insert a valid e-mail to share this library</span>
    </div>
  	<%= submit_tag "Invite", :name => "lib[#{@library_to_suggest.id}]", class: "btn btn-primary in-submit"  %>
<% end %>
