<h1>Create new category</h1>
<%= form_for(@category) do |f| %>
	<div class="form-group">
		<%= label_tag 'category[name]', "Name"%>
		<%= f.text_field :name, :placeholder => "A name for your category", class: "form-control" %>
	</div>
	<%= f.submit "Submit", :name => "lib[#{@library.id}]", class: "btn btn-submit" %>
<% end %>
